---
import "@/styles/globals.css";
---

<!doctype html>
<html lang="pt-br" class="scroll-smooth bg-[#070707] min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title> Coleção dos Calvo </title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		background-color: #070707;
		margin: 0;
		display: inline-block;
		width: 100%;
		height: 100vh;
	}
	main {
		color: aliceblue;
		background-color: #070707;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
